body {
  margin: 0;
}

* {
  font-family: "PT Sans", sans-serif;
}

.title {
  color: #333;
  font-size: 45px;
}

.title i {
  padding-right: 10px;
}

.page {
  display: flex;
  height: 100vh;
}

.content-container {
  flex: 1 0 auto;
  background-color: #f2f2f2;
}

.content {
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.map {
  flex: 0 0 40%;
  box-sizing: border-box;
}

/* Menu */
.menu {
  margin-top: 0;
  display: flex;
  background-color: #252527;
}

.menu-item {
  padding: 20px 15px;
  list-style-type: none;
}

.menu-item a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.menu-item a:hover {
  color: #eeeeee;
}

.menu-item.active a {
  color: #d5ff8c;
}

/* Table */

.items-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.item-row:hover td {
  background-color: #f7f7f7;
}

.item-row:hover,
.item-row:hover i {
  cursor: pointer;
}

.items-table td:first-child,
.items-table th:first-child {
  padding-left: 15px;
}

.items-table td {
  line-height: 50px;
}

.items-table td span {
  cursor: default;
}

.item-row + .item-row td {
  border-top: 1px solid #e2e7f2;
}

.item-actions {
  padding-left: 10px;
}

.items-table-header th {
  text-align: left;
  background: #444;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
}
